<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>College Zone: About Us</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css1/bootstrap.min.css">
    <link rel="stylesheet" href="css1/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css1/aos.css">
    <link rel="stylesheet" href="css1/swiper.min.css">
    <link rel="stylesheet" href="css1/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css1/style.css">
    <link rel="stylesheet" href="css1/buybook_index.css">
    <link rel="stylesheet" href="css1/ours.css">
</head>

<body>
    <!-- Start Header -->
    {{> navbar_user}}
    <!-- End Header -->
    <!-- Start Hero Area -->
    <section class="hero-section height-470" style="background-image:url(https://cdn.searchenginejournal.com/wp-content/uploads/2019/01/Top-10-Ranking-About-Us-Pages-760x400.png)" data-aos="fade-up">
        <div class="hero-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-hrader text-white text-center">
                            <h1 class="display-3"></h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->
        <!-- Start Services -->
        <section class="services-section translate_34">
        <div class="services-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-xs-5 mt-xs-5" data-aos="fade-in" data-aos-delay="200">
                        <div class="single-service default_bg text-center text-white py-5 px-4">
                            <div class="service-icon">
                                <img src="images/service_icon_01.png" alt="service one" class="img-fluid">
                            </div>
                            <div class="service-text">
                                <h4>Upload Posts</h4>
                                <p>All the events organised by college, committes and clubs of TSEC will be listed down here. </p>
                                <a href="/upload2">Upload now <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-xs-5" data-aos="fade-in" data-aos-delay="400">
                        <div class="single-service hover_bg text-center text-white py-5 px-4">
                            <div class="service-icon">
                                <img src="images/service_icon_02.png" alt="service one" class="img-fluid">
                            </div>
                            <div class="service-text">
                                <h4>Confess something </h4>
                                <p>Only online platform for students of TSEC where they can express their feelings annonymously with their peers. </p>
                                <a href="confess">Confess now <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-xs-5" data-aos="fade-in" data-aos-delay="600">
                        <div class="single-service default_bg text-center text-white py-5 px-4">
                            <div class="service-icon">
                                <img src="images/service_icon_03.png" alt="service one" class="img-fluid">
                            </div>
                            <div class="service-text">
                                <h4>Sell Books</h4>
                                <p>Easiest way to sell your second hand books online without any third man between for confessions.</p>
                                <a href="sell_book"> Sell now<i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4 mb-xs-5" data-aos="fade-in" data-aos-delay="400">
                        <div class="single-service hover_bg text-center text-white py-5 px-4">
                            <div class="service-icon">
                                <img src="images/service_icon_02.png" alt="service one" class="img-fluid">
                            </div>
                            <div class="service-text">
                                <h4>Ask doubts</h4>
                                <p>Students can raise doubts and queries and can get solutions from their peers. Fill the form with your queries. </p>
                                <a href="ask_doubt">Ask now <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-xs-5" data-aos="fade-in" data-aos-delay="600">
                        <div class="single-service default_bg text-center text-white py-5 px-4">
                            <div class="service-icon">
                                <img src="images/service_icon_03.png" alt="service one" class="img-fluid">
                            </div>
                            <div class="service-text">
                                <h4>Information Center</h4>
                                <p>Pull all your experience knowledge and skills onto this page for your juniors.Show the the right way here.</p>
                                <a href="put_info"> Help Now <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-xs-5" data-aos="fade-in" data-aos-delay="400">
                        <div class="single-service hover_bg text-center text-white py-5 px-4">
                            <div class="service-icon">
                                <img src="images/service_icon_02.png" alt="service one" class="img-fluid">
                            </div>
                            <div class="service-text">
                                <h4>Chat and Connect</h4>
                                <p>Last but not the least, get connect to indentical minded peeps all acroos the world.</p>
                               <a href="#">Read More <i class="fas fa-angle-right"></i></a> 
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
        <!-- End Services -->
    <!-- Start Welcome Section -->
    <section class="welcome-section section-pb">
        <div class="welcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 mb-3d-5 pl-0" data-aos="fade-up" data-aos-delay="300">
                        <div class="half_column_image owl-carousel image-gallery">
                            <div class="single-gallery">
                                <img src="images/gallery_01.jpg" alt="welcome">
                            </div>
                            <div class="single-gallery">
                                <img src="images/slider_bg_6.jpg" alt="welcome">
                            </div>
                            <div class="single-gallery">
                                <img src="images/slider_bg_7.jpg" alt="welcome">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pr-120-lg" data-aos="fade-up" data-aos-delay="500">
                        <div class="half_column_content_2">
                            <h2 class="sub-title">Website Tour</h2>
                            <p> 

                            </p>
                            <div class="theme-list">
                                <ul>
                                    <li><a href="#">Best Environment for students about their needs</a></li>
                                    <li><a href="#">providing with all the neccesary services with books and pdfs</a></li>
                                    <li><a href="#">Confessions and Doubts made easy for everyone</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Welcome Section -->

   
    <!-- End Featured-2 Section-->
    <!-- Start Our Team Carousel -->
    <section class="team-section section-ptb dark_3_bg" data-aos="fade-up" data-aos-delay="300">
        <div class="our-team-area show_navigation_3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="section-title-2 text-center mb-4">
                            <h2>Our Team</h2>
                            <p>We have devloped this website for all our peers of Thadomal Shahani Engineering College with best of our abilities.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="our-team-carousel-3 owl-carousel">
                            <div class="single-team bg-white">
                                <div class="member-image-2">
                                    <img src="https://lh3.googleusercontent.com/pw/AM-JKLVEZH0IQ4UA090H1IQstKA7NNTKi-PUh7g9jJC1ud3_JMD55lE1lj3KSlUliqZHuVswXAGW-KMBOqbJcj43G2A7EEfw1fQohW1uH3-w2KSUWyl1eqhXniVnNIgV8BlIitIuh1t5gUXCjlw4_MuIYjFv=w239-h240-no?authuser=0" alt="team member" class="img-fluid">
                                    <div class="social-profile-3">
                                       
                                    </div>
                                </div>
                                <div class="member-info-3 border border-top-0 text-center p-4">
                                    <div class="designation mb-3">
                                        <h5>Idris Ratlamwala</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="single-team bg-white">
                                <div class="member-image-2">
                                    <img src="images/priyansh.jpeg" alt="team member" class="img-fluid">
                                    <div class="social-profile-3">
                                        
                                    </div>
                                </div>
                                <div class="member-info-3 border border-top-0 text-center p-4">
                                    <div class="designation mb-3">
                                        <h5>Priyansh Salian</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="single-team bg-white">
                                <div class="member-image-2">
                                    <img src="images/lavin.png" alt="team member" class="img-fluid">
                                    <div class="social-profile-3">
                                        
                                    </div>
                                </div>
                                <div class="member-info-3 border border-top-0 text-center p-4">
                                    <div class="designation mb-3">
                                        <h5>Lavin Rupani</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Team Carousel -->
        <!-- Start Testimonials Section -->
        <section class="testimonials-section section-ptb" data-aos="fade-up" data-aos-delay="300">
            <div class="testimonials-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center pb-0">
                                <h2>What Our Users Say</h2>
                             </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <div class="testimonials-wrapper-3 owl-carousel">
                                <div class="single-testimonial-3 text-center">
                                    <p>Website is super helpul helps with all the event notifications of all the events of our college, confessions page is on point and i really like it. </p>
                                    <div class="testimonial-referance">
                                        <strong>Mihir shah </strong>  
                                        <span> -student </span>
                                    </div>
                                </div>
                                <div class="single-testimonial-3 text-center">
                                    <p>all my real time quick doubts and feeling are cleared here with this websote, i can be in every event. </p>
                                    <div class="testimonial-referance">
                                        <strong>Roshan Bhagchandani </strong>  
                                        <span> -student</span>
                                    </div>
                                </div>
                                <div class="single-testimonial-3 text-center">
                                    <p>great effort by the team who have made this great website for us to enjoy and be ready for every thing in ur life, GREAT WORK GUYS.  </p>
                                    <div class="testimonial-referance">
                                        <strong> Nayan Agrawal </strong>  
                                        <span> -student</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials Section -->
   
  {{> indexFooter}}
    <!-- End Footer -->
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>
    <script src="js/bootnavbar.js"></script>
    <script src="js/main.js"></script>
    <script src="js/buybook_index.js"></script>
</body>

</html>