<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eduaid Responsive Html5 Template</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css1/bootstrap.min.css">
    <link rel="stylesheet" href="css1/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css1/aos.css">
    <link rel="stylesheet" href="css1/swiper.min.css">
    <link rel="stylesheet" href="css1/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css1/style.css">
    <link rel="stylesheet" href="css1/buybook_index.css">
    <link rel="stylesheet" href="css1/ours.css">
</head>

<body>
    <!-- Start Header -->
    <header>
        <div class="header_top_area my-4">
            <div class="container" style="margin-left: 0px;margin-right: 0px;">
                <div class="row">
                    <div class="" style="padding: 0px;">
                        <div class="header_top d-flex justify-content-between">
                            <div class="site_logo">
                                <a href="index.html"><img  style="padding-left: 2vw;    padding-left: 2vw;
                                    height: 67px;" src="images/logo-removebg-preview (1).png " alt="logo" class="img-fluid"></a>
                            </div>
                            <div class="site_info d-flex justify-content-between">
                                <div class="single_info">
                                    <img src="images/location.png" alt="Location" class="img-fluid">
                                    <div class="info_data">
                                        <h6>Location</h6>
                                        <p>Thadomal Shahani, Bandra 400-050</p>
                                    </div>
                                </div>
                                <div class="single_info">
                                    <img src="images/phone.png" alt="Location" class="img-fluid">
                                    <div class="info_data">
                                        <h6>Phone</h6>
                                        <p>+880 2456 547</p>
                                    </div>
                                </div>
                                <div class="single_info">
                                    <button class="special-button" onclick="window.location.href = 'admin_register';">Committee Head ?<span class="button_icon"><i class="far fa-file-alt"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-menu-area bg_dark_mobile">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-menu default_bg">
                            <nav class="navbar navbar-expand-lg">
                                <div class="mobile_site_logo d-none">
                                    <a href="index.html"><img src="images/footer_logo.png" alt="logo" class="img-fluid"></a>
                                </div>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link " href="index" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Home
                                        </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="about.html">About</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                              E-Books
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="google_books">Free books</a></li>
												<li><a class="dropdown-item" href="google_books">Paid books</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                              Login
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="login">Student login</a></li>
												<li><a class="dropdown-item" href="admin_login">Committee Login</a></li>
												<li><a class="dropdown-item" href="register">Student Register</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="see_post" class="nav-link" id="blod_pages">
                                                Posts
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="see_books" class="nav-link">Buy Books</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="see_confession" class="nav-link">Confession</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="contact.html" class="nav-link">Contact</a>
                                        </li>
                                    </ul>
                                    <div class="collapse-bar">
                                        <a class="navbar-brand" data-toggle="collapse" href="#languages_options"><i class="fa fa-bars"></i></a>
                                        <div class="option-menu collapse" id="languages_options">
                                            <nav>
                                                <ul>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">English</a>
                                                        <a class="nav-link" href="#">Bangla</a>
                                                        <a class="nav-link" href="#">Hindi</a>
                                                        <a class="nav-link" href="#">Spanish</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button trigger modal -->
            <!-- Start Search Modal -->
            <div class="modal fade" id="search_modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title sm-sub-title">Search Here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="search-widget">
                                <form action="#">
                                    <input type="text" class="form-control" placeholder="Search Here">
                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </form>
                        </div>
                    <div class="search-results">
                        <h5 class="my-4 sm-sub-title">10 Search Results Found</h5>
                        <div class="theme-list">
                            <ul>
                                <li><a href="#">Smply dummy text of the printing and typesetting industry</a></li>
                                <li><a href="#">Mauris at varius orci. Vestibulum um felis eu nisl pulvinar</a></li>
                                <li><a href="#">Welcome To Our Campus For Learn</a></li>
                                <li><a href="#">The point of using Lorem Ipsum is that it has a more-or-less </a></li>
                                <li><a href="#">has a more-or-less normal distribution of letters, as opposed to using.</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a></li>
                                <li><a href="#">Build Education Website Using WP</a></li>
                                <li><a href="#">Build Education Website Using WordPress </a></li>
                                <li><a href="#">And Other Modern Technology</a></li>
                                <li><a href="#">assumenda est. Our friendly support team is standing.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button_one" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div>
             <!-- End Search Modal -->
        </div>
    </header>
    <!-- End Header -->
    <!-- Start Slider -->
    <section class="slider-section swiper-container" data-aos="fade-in">
        <div class="swiper-wrapper">
            <div class="slider-area height-700 swiper-slide overlay" style="background-image:url(images/slider_bg_2.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="slider-content text-white pb-5 mb-5">
                                <h2 class="display-3">Better Education For a Better World</h2>
                                <p>Best Education Theme In 2019</p>
                                <a href="#" class="button_one mt-4">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-area height-700 swiper-slide overlay" style="background-image:url(images/slider_bg.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="slider-content text-white pb-5 mb-5">
                                <h2 class="display-3">Standart  Syllebaus For Students</h2>
                                <p>Best Education Theme In 2019</p>
                                <a href="#" class="button_one mt-4">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-area height-700 swiper-slide overlay" style="background-image:url(images/slider_bg_3.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="slider-content text-white pb-5 mb-5">
                                <h2 class="display-3">Maintaince Educational Value</h2>
                                <p>Best Education Theme In 2019</p>
                                <a href="#" class="button_one mt-4">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </section>
    <!-- End Slider -->
    <!-- Start Services -->
    <section class="services-section translate_34">
        <div class="services-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-xs-5 mt-xs-5" data-aos="fade-in" data-aos-delay="200">
                        <div class="single-service default_bg text-center text-white py-5 px-4">
                            <div class="service-icon">
                                <img src="images/service_icon_02.png" alt="service one" class="img-fluid">
                            </div>
                            <div class="service-text">
                                <h4>Posts</h4>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                                <a href="#">Read More <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-xs-5" data-aos="fade-in" data-aos-delay="400">
                        <div class="single-service hover_bg text-center text-white py-5 px-4">
                            <div class="service-icon">
                                <img src="images/service_icon_01.png" alt="service one" class="img-fluid">
                            </div>
                            <div class="service-text">
                                <h4>Confess Something</h4>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                                <a href="#">Read More <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-xs-5" data-aos="fade-in" data-aos-delay="600">
                        <div class="single-service default_bg text-center text-white py-5 px-4">
                            <div class="service-icon">
                                <img src="images/service_icon_03.png" alt="service one" class="img-fluid">
                            </div>
                            <div class="service-text">
                                <h4>Sell Books</h4>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                                <a href="#">Read More <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services -->
    <!-- Start Welcome Section -->
    <section class="welcome-section section-pb" data-aos="fade-in">
        <div class="welcome-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3d-5 px-0">
                        <div class="half_column_image">
                            <img src="logo.jpg" alt="welcome" class="img-fluid equal-height">
                        </div>
                    </div>
                    <div class="col-lg-6 equal-height">
                        <div class="half_column_content">
                            <h2 class="sub-title">Welcome To <br>CLUB ZONE</h2>
                            <p>Club Zone provides various features which are helpful to all the students of TSEC during their college years.</p>
                            <p>Club Zone provides you with</p>
                            <div class="theme-list">
                                <ul>
                                    <li><a href="#">Notification about all events</a></li>
                                    <li><a href="#">E-Books</a></li>
                                    <li><a href="#">BUY/SELL</a></li>
                                </ul>
                            </div>
                            <div class="theme-list ml-xl-5">
                                <ul>
                                    <li><a href="#">Important dates</a></li>
                                    <li><a href="#">Forms for all the committe</a></li>
                                    <li><a href="#">Platform for Publicizing</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Welcome Section -->
    <!--Start Department -->
    <div class="page-wrapper section-ptb semi_dark_bg">
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center" data-aos="fade-in">
						<h4>Our Departments</h4>
						<h2>Popular Departments</h2>
					</div>
				</div>
			</div>		
            <div class="row">
                <div class="col-lg-4 col-md-6 py-3" data-aos="fade-up" data-aos-delay="200">
                   <div class="single-item">
                        <div class="item-icon">
                            <img class="img-fluid" src="images/icon_01.png" alt="icon">
                        </div>
                        <div class="item-text">
                            <h4><a href="#">Electrical Engineering</a></h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#" class="link_btn">Read More <i class="fa fa-angle-right"></i> </a>
                        </div>
                   </div>
               </div>
                <div class="col-lg-4 col-md-6 py-3" data-aos="fade-up" data-aos-delay="200">
                   <div class="single-item">
                        <div class="item-icon">
                            <img class="img-fluid" src="images/icon_02.png" alt="icon">
                        </div>
                        <div class="item-text">
                            <h4><a href="#">Microbio Engineering</a></h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#" class="link_btn mt-2">Read More <i class="fa fa-angle-right"></i> </a>
                        </div>
                   </div>
               </div>
                <div class="col-lg-4 col-md-6 py-3" data-aos="fade-up" data-aos-delay="200">
                   <div class="single-item">
                        <div class="item-icon">
                            <img class="img-fluid" src="images/icon_03.png" alt="icon">
                        </div>
                        <div class="item-text">
                            <h4><a href="#">Computer Engineering</a></h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#" class="link_btn mt-2">Read More <i class="fa fa-angle-right"></i> </a>
                        </div>
                   </div>
               </div>
                <div class="col-lg-4 col-md-6 py-3" data-aos="fade-up" data-aos-delay="200">
                   <div class="single-item">
                        <div class="item-icon">
                            <img class="img-fluid" src="images/icon_04.png" alt="icon">
                        </div>
                        <div class="item-text">
                            <h4><a href="#">Civil Engineering</a></h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#" class="link_btn mt-2">Read More <i class="fa fa-angle-right"></i> </a>
                        </div>
                   </div>
               </div>
                <div class="col-lg-4 col-md-6 py-3" data-aos="fade-up" data-aos-delay="200">
                   <div class="single-item">
                        <div class="item-icon">
                            <img class="img-fluid" src="images/icon_05.png" alt="icon">
                        </div>
                        <div class="item-text">
                            <h4><a href="#">Textile Engineering</a></h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#" class="link_btn mt-2">Read More <i class="fa fa-angle-right"></i> </a>
                        </div>
                   </div>
               </div>
                <div class="col-lg-4 col-md-6 py-3" data-aos="fade-up" data-aos-delay="200">
                   <div class="single-item">
                        <div class="item-icon">
                            <img class="img-fluid" src="images/icon_06.png" alt="icon">
                        </div>
                        <div class="item-text">
                            <h4><a href="#">Biomedical Engineering</a></h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#" class="link_btn mt-2">Read More <i class="fa fa-angle-right"></i> </a>
                        </div>
                   </div>
               </div>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="300">
                <div class="col-md-12">
                    <div class="load-more-button pt-4 mx-auto text-center">
                        <a href="#" class="button_five">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Department -->
	<!-- Start Featured Section -->	
    <section class="featured-section section-ptb" data-aos="fade-up">
        <div class="featured-area show_navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title mb-4">
                            <h4>Best Books</h4>
                            <h2>Featured Books</h2>
                        </div>
                    </div>
                </div>
                <div class="container">

                    <div id="outerDiv" class="row">
                    <template id="template">
    
                        <div class="col-lg-4 col-md-6 filter branding mb-5 template1">
                            <div class="single-featured-5  bg-white text-center template2">
                                <div class="feature-image thumbnail">
                                    <img src="" alt="Featured" class="thumbnail1">
                                    <div class="product-price-4 priceouter">
                                        <span>Rs. </span><span class="priceInner">DUMMY</span>
                                    </div>
                                </div>
                                <div class="featured-text-and-info border-6 details">
                                    <div class="feature-content px-2 pt-3 desc">
                                        <!-- <h5 class="title-"> -->
                                            <a href="#" class="title- h5">DUMMY</a>
                                            <br>
                                        <!-- </h5> -->
                                        <p class="description">DUMMY</p>
                                    </div>
                                    <div class="feature-status-wrapper border-top extra">
                                        <div class="feature-status-3 px-2 py-1 extra1">
                                            <span><span>Sold by : </span><span class="soldby"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Section -->	
    <!-- Start Popup Videos Section -->
    <section class="video-section" data-aos="fade-up">
        <div class="video-popup-area default_bg section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3d-5" data-aos="fade-in-left" data-aos-delay="200">
                        <div class="half_column_image overlay">
                            <img src="images/video_popup.jpg" alt="Video Image" class="img-fluid image-link">
                            <div class="video-play-btn"><a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-play-link"><i class="fas fa-play-circle"></i></a></div>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-in-right" data-aos-delay="400">
                        <div class="video_popup_content text-white">
                            <h2 class="sub-title text-white mb-3">World Best Univercity</h2>
                            <p>Smply dummy text of the printing and typesetting industry. Lorem Ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, deserunt.</p>
                            <p>Smply dummy text of the printing and typesetting industry. Lorem Ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, deserunt.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nisi tenetur ratione magni ut at expedita provident, cupiditate.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-2" data-aos="fade-up">
                    <div class="col-md-3 col-sm-6 mb-xs-2">
                        <div class="single-countdown">
                            <span class="counter">60</span>
                            <p>Teachers</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-xs-2">
                        <div class="single-countdown">
                            <span class="counter">800</span>
                            <p>Students</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-xs-2">
                        <div class="single-countdown">
                            <span class="counter">37</span>
                            <p>Courses</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-xs-2">
                        <div class="single-countdown">
                            <span class="counter">19</span>
                            <p>National Awards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Popup Videos Section -->
    <!-- Start Our Team Carousel -->
    <section class="team-section section-ptb" data-aos="fade-up">
        <div class="our-team-area show_navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title mb-4">
                            <h4>Our Teachers</h4>
                            <h2>Best Certified Faculty</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="our-team-carousel owl-carousel">
                            <div class="single-team">
                                <div class="member-image">
                                    <img src="images/member_01.jpg" alt="team member" class="img-fluid">
                                    <div class="social-profile">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="member-info default_bg">
                                    <div class="designation">
                                        <h6>Mitchel</h6>
                                        <span>CEO & Founder</span>
                                    </div>
                                    <a href="#">View Details <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="single-team">
                                <div class="member-image">
                                    <img src="images/member_02.jpg" alt="team member" class="img-fluid">
                                    <div class="social-profile">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="member-info default_bg">
                                    <div class="designation">
                                        <h6>Mark Parker</h6>
                                        <span>Senior Teacher</span>
                                    </div>
                                    <a href="#">View Details <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="single-team">
                                <div class="member-image">
                                    <img src="images/member_03.jpg" alt="team member" class="img-fluid">
                                    <div class="social-profile">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="member-info default_bg">
                                    <div class="designation">
                                        <h6>Selina Gomej</h6>
                                        <span>Physics Teacher</span>
                                    </div>
                                    <a href="#">View Details <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="single-team">
                                <div class="member-image">
                                    <img src="images/member_01.jpg" alt="team member" class="img-fluid">
                                    <div class="social-profile">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="member-info default_bg">
                                    <div class="designation">
                                        <h6>Mitchel</h6>
                                        <span>CEO & Founder</span>
                                    </div>
                                    <a href="#">View Details <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="single-team">
                                <div class="member-image">
                                    <img src="images/member_02.jpg" alt="team member" class="img-fluid">
                                    <div class="social-profile">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="member-info default_bg">
                                    <div class="designation">
                                        <h6>Selina Gomej</h6>
                                        <span>Physics Teacher</span>
                                    </div>
                                    <a href="#">View Details <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="single-team">
                                <div class="member-image">
                                    <img src="images/member_03.jpg" alt="team member" class="img-fluid">
                                    <div class="social-profile">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="member-info default_bg">
                                    <div class="designation">
                                        <h6>Selina Gomej</h6>
                                        <span>Physics Teacher</span>
                                    </div>
                                    <a href="#">View Details <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Team Carousel -->
    <!-- Start Events Section -->
    <section class="events-section section-ptb semi_dark_bg" data-aos="fade-up">
        <div class="events-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center mb-4">
                            <h4>Our Events</h4>
                            <h2>Upcoming Events</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-3d-5" data-aos="fade-up" data-aos-delay="300">
                        <div class="event-content-one border">
                            <div class="event-image">
                                <img src="/adm.jpg"alt="event image" class="img-fluid">
                                <div class="events-info bg-white">
                                    <div class="single-event-data">
                                        <p><i class="fas fa-calendar-alt"></i> 25 June, 22</p>
                                    </div>
                                    <div class="single-event-data">
                                        <p><i class="fa fa-clock"></i> 8:00 AM - 5:00 PM</p>
                                    </div>
                                    <div class="single-event-data">
                                        <p><i class="fas fa-map-marker-alt"></i> NewYork, USA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="event-text p-4 bg-white">
                                <h2><a href="#">Addmisions for BE are open for Batch 2025</a></h2>
                                <p>Thadomal Shahani Engineering College is now open for addmission of 2025. Students can enroll by gov cap rounds or by instution level  rounds.</p>
                                
                        
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="events-list">
                            <div class="single-event mb-4">
                                <div class="event-date">
                                    <span>19</span>
                                    <p>April</p>
                                </div>
                                <div class="event-content">
                                    <h5><a href="#">NSS INTERVIEWS</a></h5>
                                    <div class="event-meta">
                                        <div class="single-meta">
                                            <p> <i class="fa fa-clock"></i> Deadline 9pm</p>
                                        </div>
                                        <div class="single-meta">
                                            <p><i class="fas fa-map-marker-alt"></i>TSEC, Mumbai</p>
                                        </div>
                                    </div>
                                    <p>NSS Interview have started, to apply fill the form in notice tab. Las date of application is 19th April till 9PM.</p>
                                </div>
                            </div>
                            <div class="single-event mb-4">
                                <div class="event-date">
                                    <span>25</span>
                                    <p>April</p>
                                </div>
                                <div class="event-content">
                                    <h5><a href="#">IETE INTERVIEWS</a></h5>
                                    <div class="event-meta">
                                        <div class="single-meta">
                                            <p> <i class="fa fa-clock"></i>Deadline 9pm</p>
                                        </div>
                                        <div class="single-meta">
                                            <p> <i class="fa fa-location"></i> TSEC, Mumbai</p>
                                        </div>
                                    </div>
                                    <p>Applications for IETE Scoms are out. Last date of Application is 25th of April till 9PM.</p>
                                </div>
                            </div>
                            <div class="single-event">
                                <div class="event-date">
                                    <span>01</span>
                                    <p>May</p>
                                </div>
                                <div class="event-content">
                                    <h5><a href="#">VIVAS BEGINS FOR SE!!</a></h5>
                                    <div class="event-meta">
                                        <div class="single-meta">
                                            <p> <i class="fa fa-clock"></i> Deadline 9pm</p>
                                        </div>
                                        <div class="single-meta">
                                            <p> <i class="fa fa-location"></i> TSEC, Mumbai</p>
                                        </div>
                                    </div>
                                    <p>VIVAS for SE are begining from 1st of may. All the best to all the SE's.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Events Section -->
    <!-- Start Testimonials Section -->
    <section class="testimonials-section section-ptb" data-aos="fade-up">
        <div class="testimonials-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center mb-4">
                            <h4>Testimonials</h4>
                            <h2>Our Student Saying...</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonials-wrapper owl-carousel">
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonials Section -->
    <!-- Start Blog Section -->
    <section class="blog-section semi_dark_bg section-ptb" data-aos="fade-up">
        <div class="blog-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center mb-4">
                            <h4>Blog Posts</h4>
                            <h2>Latest News</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-3d-5" data-aos="fade-up" data-aos-delay="200">
                        <div class="big-blog-area border bg-white">
                            <div class="blog-thumb">
                                <a href="#"><img src="images/big_blog.jpg" alt="big blog" class="img-fluid"></a>
                            </div>
                            <div class="blog-content p-4">
                                <div class="blog-meta">
                                    <span>Posts By <a href="#">Admin</a></span> <span class="seperator">|</span>
                                    <span>29 April, 2020</span>
                                </div>
                                <div class="blog-text">
                                    <h3><a href="#">Most unusual uses of artificial intelli gence projects.</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                    <a href="#">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="blog-lists-wrapper">
                            <div class="single-blog-wrapper">
                                <div class="blog-thumb pr-4">
                                    <a href="#"><img src="images/blog_01.jpg" alt="blog"></a>
                                </div>
                                <div class="blog-content-wrapper">
                                    <h4><a href="#">Most unusual uses of artificial intelli gence projects.</a></h4>
                                    <p>Lorem ipsum dolor sit amet, cteturadipiscing elit, sed do eiusmod tempor. ipsum dolor.</p>
                                    <div class="post-meta"><span> Posted on 25 March, 2019</span></div>
                                </div>
                            </div>
                            <div class="single-blog-wrapper">
                                <div class="blog-thumb pr-4">
                                    <a href="#"><img src="images/blog_02.jpg" alt="blog"></a>
                                </div>
                                <div class="blog-content-wrapper">
                                    <h4><a href="#">Most unusual uses of artificial intelli gence projects.</a></h4>
                                    <p>Lorem ipsum dolor sit amet, cteturadipiscing elit, sed do eiusmod tempor. ipsum dolor.</p>
                                    <div class="post-meta"><span> Posted on 25 March, 2019</span></div>
                                </div>
                            </div>
                            <div class="single-blog-wrapper">
                                <div class="blog-thumb pr-4">
                                    <a href="#"><img src="images/blog_03.jpg" alt="blog"></a>
                                </div>
                                <div class="blog-content-wrapper">
                                    <h4><a href="#">Most unusual uses of artificial intelli gence projects.</a></h4>
                                    <p>Lorem ipsum dolor sit amet, cteturadipiscing elit, sed do eiusmod tempor. ipsum dolor.</p>
                                    <div class="post-meta"><span> Posted on 25 March, 2019</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Section -->
    <!-- Start Footer -->
    <footer data-aos="fade-up">
        <div class="footer-area default_bg">
            <div class="footer-top section-ptb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-xs-5">
                            <div class="single_widget">
                                <div class="address-widget">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="images/footer_logo.png" alt="" class="img-fluid"></a>
                                    </div>
                                    <p>900 Lucerne Station Road Terrace, Orlando, FL 32806, USA contact@eduaid.com</p>
                                    <span>+892 5555 444</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-3d-5">
                            <div class="single_widget">
                                <h3>Useful Links</h3>
                                <div class="widget-list">
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Our Instructors</a></li>
                                        <li><a href="#">Courses</a></li>
                                        <li><a href="#">History</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Service Plus</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-xs-5">
                            <div class="single_widget">
                                <h3>Our Services</h3>
                                <div class="widget-list">
                                    <ul>
                                        <li><a href="#">CSE Engeering</a></li>
                                        <li><a href="#">Graduation</a></li>
                                        <li><a href="#">Courses</a></li>
                                        <li><a href="#">Admission</a></li>
                                        <li><a href="#">Internation</a></li>
                                        <li><a href="#">Faqs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single_widget">
                                <h3>Latest News</h3>
                                <div class="widget-item">
                                    <div class="widget-image">
                                        <a href="#"><img src="images/blog_01.jpg" alt="blog one" /></a>
                                    </div>
                                    <div class="widget-content">
                                        <h5><a href="#">7 Step Social Media Marke ting Strategy</a></h5>
                                        <div class="widget-meta">
                                            <span>05 Jan 2019</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-item">
                                    <div class="widget-image">
                                        <a href="#"><img src="images/blog_02.jpg" alt="blog one" /></a>
                                    </div>
                                    <div class="widget-content">
                                        <h5><a href="#">7 Step Social Media Marke ting Strategy</a></h5>
                                        <div class="widget-meta">
                                            <span>05 Jan 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-wrapper border-top py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-bottom">
                                <div class="copyright-text">
                                    <p>Eduaid 2019. All Rights Reserved.</p>
                                </div>
                                <div class="social-accounts">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-top">
            <div class="scroll-icon">
                <i class="fa fa-angle-up"></i>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>
    <script src="js/bootnavbar.js"></script>
    <script src="js/main.js"></script>
    <script src="js/buybook_index.js"></script>
</body>

</html>