<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COLLEGE ZONE</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css1/bootstrap.min.css">
    <link rel="stylesheet" href="css1/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css1/aos.css">
    <link rel="stylesheet" href="css1/swiper.min.css">
    <link rel="stylesheet" href="css1/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css1/style.css">
    <link rel="stylesheet" href="css1/buybook_index.css">
    <link rel="stylesheet" href="css1/ours.css">
</head>

<body>
    <!-- Start Header -->
    {{> navbar_user}}
    <!-- End Header -->
    <!-- Start Slider -->
    <section class="hero-section height-490 aos-init overlay aos-animate mt-2" style="background-image: url(https://catawba.edu/files/4316/3483/8058/Hero-Hedrick2.jpg);
    height: 70vh;" data-aos="fade-up">
        <div class="hero-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-hrader text-white">
                            <h1 class="display-3">Welcome to College Zone</h1>
                            <div class="page-breadcrumb">
                                <p>Only needed website for college students</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider -->
    <!-- Start Services -->
    <section class="services-section my-5">
        <div class="services-area">
            <div class="container">
                <div class="row">
                        <div class="col-md-4 mb-xs-5" data-aos="fade-in" data-aos-delay="600">
                            <div class="single-service default_bg text-center text-white py-5 px-4">
                                <div class="service-icon">
                                    <img src="images/service_icon_01.png" alt="service one" class="img-fluid">
                                </div>
                                <div class="service-text">
                                    <h4>Ask doubts</h4>
                                    <p>Students can raise doubts and queries and can get solutions from their peers.
                                        Fill the form with your queries. </p>
                                    <a href="ask_doubt">Ask now <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-xs-5" data-aos="fade-in" data-aos-delay="400">
                            <div class="single-service hover_bg text-center text-white py-5 px-4">
                                <div class="service-icon">
                                    <img src="images/service_icon_02.png" alt="service one" class="img-fluid">
                                </div>
                                <div class="service-text">
                                    <h4>Confess something </h4>
                                    <p>Only online platform for students of TSEC where they can express their
                                        feelings annonymously with their peers. </p>
                                    <a href="confess">Confess now <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-xs-5" data-aos="fade-in" data-aos-delay="600">
                            <div class="single-service default_bg text-center text-white py-5 px-4">
                                <div class="service-icon">
                                    <img src="images/service_icon_03.png" alt="service one" class="img-fluid">
                                </div>
                                <div class="service-text">
                                    <h4>Sell Books</h4>
                                    <p>Easiest way to sell your second hand books online without any third man
                                        between for confessions.</p>
                                    <a href="sell_book"> Sell now<i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                        <div class="col-md-4 mb-xs-5" data-aos="fade-in" data-aos-delay="600">
                        <div class="single-service default_bg text-center text-white py-5 px-4">
                            <div class="service-icon">
                                <img src="images/service_icon_03.png" alt="service one" class="img-fluid">
                            </div>
                            <div class="service-text">
                                <h4>Information Center</h4>
                                <p>Pull all your experience knowledge and skills onto this page for your juniors.Show the the right way here.</p>
                                <a href="put_info"> Help Now <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-xs-5" data-aos="fade-in" data-aos-delay="400">
                        <div class="single-service hover_bg text-center text-white py-5 px-4">
                            <div class="service-icon">
                                <img src="images/service_icon_02.png" alt="service one" class="img-fluid">
                            </div>
                            <div class="service-text">
                                <h4>Chat and Connect</h4>
                                <p>Last but not the least, get connect to indentical minded peeps all acroos the world.</p>
                               <a href="https://group-chatting-application.herokuapp.com/">Read More <i class="fas fa-angle-right"></i></a> 
                            </div>
                        </div>
                    </div></div>
                    </div>
            </div>
        </div>
    </section>
    <!-- End Services -->
    <!-- Start Welcome Section -->
    <section class="welcome-section section-pb" data-aos="fade-in">
        <div class="welcome-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3d-5 px-0">
                        <div class="half_column_image">
                            <img alt="Displaying Amigos - Working from Home.png" src="https://lh3.googleusercontent.com/fife/AAWUweXCJKJ1M5t1oycyOHgVvICyfXecthYHF5rSefPVSJ5W86SqJedcMQmm7NDSXALTaTdqNrE_lulrykqLy19JGs8w43-taWxRR3cqbRMpwQKWMehOrazeNBM9jzOI1EMlW4afPN2kF7gADX_ASq-TiwE2QNx4k9oniMLMSny2YTwmths3SuQwZ3lnMsYTZuh6X7sOHMwMJoA6tH4NVa5IiZvMQFrMyoep4kNdeHHZe_E_Uwa2ECxctoWOXCJuJxWJbgL7CcXijxHA_VR_IA8Dedk0_gJKA9SP4pr_XgUnvHAnwqSXsYVMR1T-3HdJjI_3-kYAqPg7cyP6qJr05nj4MAwO7705PA6H7qHqfTOeUSeT6jshE-8P6u8aPACEjVVCVfYCpYHzjsunyTA4Vb2RzOZSh8FTbhenbuyxZ4fQbFX0V01w_n3C00AYFlhNfjto7yKMWBXwZUvxsKrhVWJ6HCzGuVygttkdh3dVV7fk4CLlaeydtu2jOukuWhlEqfbGegQptgQtoEDDcbOpHXRu_cUhlX2GeJzS0xfCxcDLtNHyCVqtw49QnWGj6DEQYDMjrNJqsCi2FbGHMVfyyDiiNxcgW3SBRnQQtzbr4uEwa5mcEUj0GAwCFWpZOW9ovPzDOFxf76USN_NMIHDVnESJlLstpaX54667q6JcU5Ouo8PE2Tn6EOoNDAhnSLXyLUpDWd7nZQPnt-QcVUZtt6QbaTUyKI21M1xjZ4LAaVB6AGg6ZfWsuVOVJxv1A5jfudj_qPYAGzM8Tw4kkOl89rVDNkmmODb3MAlOo6Wh4ermzdMf1GMl62-X9s6_Ag=w1350-h585" alt="welcome" class="img-fluid equal-height">
                        </div>
                    </div>
                    <div class="col-lg-6 equal-height">
                        <div class="half_column_content">
                            <h2 class="sub-title"> <br> Welcome To <br>CLUB ZONE</h2>
                            <p>Club Zone provides various features which are helpful to all the students of TSEC during their college years.</p>
                            <p>Club Zone provides you with</p>
                            <div class="theme-list">
                                <ul>
                                    <li><a href="#">Notification of <br> &nbsp&nbsp&nbsp&nbsp committee events</a></li>
                                    <li><a href="#">Paid or Free E-Books</a></li>
                                    <li><a href="#">Buy or Sell used books</a></li>
                                </ul>
                            </div>
                            <div class="theme-list ml-xl-5">
                                <ul>
                                    <li><a href="#">A place to find your <br> &nbsp&nbsp&nbsp&nbsp dream internship</a></li>
                                    <li><a href="#">Important dates</a></li>
                                    <li><a href="#">Platform for asking doubts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Welcome Section -->
    <!--Start Department -->
    {{!-- <div class="page-wrapper section-ptb semi_dark_bg">
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center" data-aos="fade-in">
						<h4>Our Departments</h4>
						<h2>Popular Departments</h2>
					</div>
				</div>
			</div>		
            <div class="row">
                <div class="col-lg-4 col-md-6 py-3" data-aos="fade-up" data-aos-delay="200">
                   <div class="single-item">
                        <div class="item-icon">
                            <img class="img-fluid" src="images/icon_01.png" alt="icon">
                        </div>
                        <div class="item-text">
                            <h4><a href="#">Electrical Engineering</a></h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#" class="link_btn">Read More <i class="fa fa-angle-right"></i> </a>
                        </div>
                   </div>
               </div>
                <div class="col-lg-4 col-md-6 py-3" data-aos="fade-up" data-aos-delay="200">
                   <div class="single-item">
                        <div class="item-icon">
                            <img class="img-fluid" src="images/icon_02.png" alt="icon">
                        </div>
                        <div class="item-text">
                            <h4><a href="#">Microbio Engineering</a></h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#" class="link_btn mt-2">Read More <i class="fa fa-angle-right"></i> </a>
                        </div>
                   </div>
               </div>
                <div class="col-lg-4 col-md-6 py-3" data-aos="fade-up" data-aos-delay="200">
                   <div class="single-item">
                        <div class="item-icon">
                            <img class="img-fluid" src="images/icon_03.png" alt="icon">
                        </div>
                        <div class="item-text">
                            <h4><a href="#">Computer Engineering</a></h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#" class="link_btn mt-2">Read More <i class="fa fa-angle-right"></i> </a>
                        </div>
                   </div>
               </div>
                <div class="col-lg-4 col-md-6 py-3" data-aos="fade-up" data-aos-delay="200">
                   <div class="single-item">
                        <div class="item-icon">
                            <img class="img-fluid" src="images/icon_04.png" alt="icon">
                        </div>
                        <div class="item-text">
                            <h4><a href="#">Civil Engineering</a></h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#" class="link_btn mt-2">Read More <i class="fa fa-angle-right"></i> </a>
                        </div>
                   </div>
               </div>
                <div class="col-lg-4 col-md-6 py-3" data-aos="fade-up" data-aos-delay="200">
                   <div class="single-item">
                        <div class="item-icon">
                            <img class="img-fluid" src="images/icon_05.png" alt="icon">
                        </div>
                        <div class="item-text">
                            <h4><a href="#">Textile Engineering</a></h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#" class="link_btn mt-2">Read More <i class="fa fa-angle-right"></i> </a>
                        </div>
                   </div>
               </div>
                <div class="col-lg-4 col-md-6 py-3" data-aos="fade-up" data-aos-delay="200">
                   <div class="single-item">
                        <div class="item-icon">
                            <img class="img-fluid" src="images/icon_06.png" alt="icon">
                        </div>
                        <div class="item-text">
                            <h4><a href="#">Biomedical Engineering</a></h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#" class="link_btn mt-2">Read More <i class="fa fa-angle-right"></i> </a>
                        </div>
                   </div>
               </div>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="300">
                <div class="col-md-12">
                    <div class="load-more-button pt-4 mx-auto text-center">
                        <a href="#" class="button_five">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
    <!-- End Department -->
	<!-- Start Featured Section -->	
    <section class="featured-section section-ptb" data-aos="fade-up">
        <div class="featured-area show_navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title mb-4">
                            <h4>Best Books</h4>
                            <h2>Featured Books</h2>
                        </div>
                    </div>
                </div>
                <div class="container">

                    <div id="outerDiv" class="row">
                    <template id="template">
    
                        <div class="col-lg-4 col-md-6 filter branding mb-5 template1">
                            <div class="single-featured-5  bg-white text-center template2">
                                <div class="feature-image thumbnail">
                                    <img src="" alt="Featured" class="thumbnail1">
                                    <div class="product-price-4 priceouter">
                                        <span>Rs. </span><span class="priceInner">DUMMY</span>
                                    </div>
                                </div>
                                <div class="featured-text-and-info border-6 details">
                                    <div class="feature-content px-2 pt-3 desc">
                                        <!-- <h5 class="title-"> -->
                                            <a href="#" class="title- h5">DUMMY</a>
                                            <br>
                                        <!-- </h5> -->
                                        <p class="description">DUMMY</p>
                                    </div>
                                    <div class="feature-status-wrapper border-top extra">
                                        <div class="feature-status-3 px-2 py-1 extra1">
                                            <span><span>Sold by : </span><span class="soldby"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    <!-- Start Events Section -->
    <section class="events-section section-ptb semi_dark_bg" data-aos="fade-up">
        <div class="events-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center mb-4">
                            <h4>Our Events</h4>
                            <h2>Upcoming Events</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-3d-5" data-aos="fade-up" data-aos-delay="300">
                        <div class="event-content-one border">
                            <div class="event-image">
                                <img src="/adm.jpg"alt="event image" class="img-fluid">
                                <div class="events-info bg-white">
                                    <div class="single-event-data">
                                        <p><i class="fas fa-calendar-alt"></i> 25 June, 22</p>
                                    </div>
                                    <div class="single-event-data">
                                        <p><i class="fa fa-clock"></i> 8:00 AM - 5:00 PM</p>
                                    </div>
                                    <div class="single-event-data">
                                        <p><i class="fas fa-map-marker-alt"></i> NewYork, USA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="event-text p-4 bg-white">
                                <h2><a href="#">Addmisions for BE are open for Batch 2025</a></h2>
                                <p>Thadomal Shahani Engineering College is now open for addmission of 2025. Students can enroll by gov cap rounds or by instution level  rounds.</p>
                                
                        
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="events-list">
                            <div class="single-event mb-4">
                                <div class="event-date">
                                    <span>19</span>
                                    <p>April</p>
                                </div>
                                <div class="event-content">
                                    <h5><a href="#">NSS INTERVIEWS</a></h5>
                                    <div class="event-meta">
                                        <div class="single-meta">
                                            <p> <i class="fa fa-clock"></i> Deadline 9pm</p>
                                        </div>
                                        <div class="single-meta">
                                            <p><i class="fas fa-map-marker-alt"></i>TSEC, Mumbai</p>
                                        </div>
                                    </div>
                                    <p>NSS Interview have started, to apply fill the form in notice tab. Las date of application is 19th April till 9PM.</p>
                                </div>
                            </div>
                            <div class="single-event mb-4">
                                <div class="event-date">
                                    <span>25</span>
                                    <p>April</p>
                                </div>
                                <div class="event-content">
                                    <h5><a href="#">IETE INTERVIEWS</a></h5>
                                    <div class="event-meta">
                                        <div class="single-meta">
                                            <p> <i class="fa fa-clock"></i>Deadline 9pm</p>
                                        </div>
                                        <div class="single-meta">
                                            <p> <i class="fa fa-location"></i> TSEC, Mumbai</p>
                                        </div>
                                    </div>
                                    <p>Applications for IETE Scoms are out. Last date of Application is 25th of April till 9PM.</p>
                                </div>
                            </div>
                            <div class="single-event">
                                <div class="event-date">
                                    <span>01</span>
                                    <p>May</p>
                                </div>
                                <div class="event-content">
                                    <h5><a href="#">VIVAS BEGINS FOR SE!!</a></h5>
                                    <div class="event-meta">
                                        <div class="single-meta">
                                            <p> <i class="fa fa-clock"></i> Deadline 9pm</p>
                                        </div>
                                        <div class="single-meta">
                                            <p> <i class="fa fa-location"></i> TSEC, Mumbai</p>
                                        </div>
                                    </div>
                                    <p>VIVAS for SE are begining from 1st of may. All the best to all the SE's.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Events Section -->
    <!-- Start Testimonials Section -->
    <section class="testimonials-section section-ptb" data-aos="fade-up">
        <div class="testimonials-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center mb-4">
                            <h4>Testimonials</h4>
                            <h2>Our Student Saying...</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonials-wrapper owl-carousel">
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                            <div class="single-testimonial border-2 p-4">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt in culpa.</p>
                                <div class="testimonial-referance">
                                    <p><strong>Jhon Smith; </strong> CEO & Founder</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{> indexFooter}}
    <!-- End Footer -->
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>
    <script src="js/bootnavbar.js"></script>
    <script src="js/main.js"></script>
    <script src="js/buybook_index.js"></script>
</body>

</html>